[Desktop Entry]
Name=Bells Core
Comment=Connect to the Bells P2P Network
Comment[de]=Verbinde mit dem Bells peer-to-peer Netzwerk
Comment[fr]=Bells, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bells, eşten eşe kriptografik sanal para birimi
Exec=bells-qt %u
Terminal=false
Type=Application
Icon=bells128
MimeType=x-scheme-handler/bells;
Categories=Office;Finance;
